
body{
    background: linear-gradient(166.72deg, #0A4ED1 9.55%, rgba(63, 150, 220, 0.97901) 60.74%, rgba(137, 250, 236, 0.95) 131.49%);
    height: 100vh !important;

}

*{
    
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none;
    box-sizing: border-box;
    
}


footer{
    background-color: #0A4ED1;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    
}

.logokb{
    width: 50px;	
    height: auto;
    margin: auto 0;
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

div.login, div.form-agencia{
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.form-login button, .register-btn{
    background-color: #0A4ED1;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-top: 20px;

}

.text-withe{
    color: #fff;
}

